#signin {
  height: 100vh;
  min-height: 500px;
  overflow-y: auto;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.pointer{
  cursor: pointer;
}

.required {
  color: red;
  margin-left: 2px;
}